@model RTS_Mensajeria.Models.DB_Model.Nivel
@{
    ViewBag.Title = "Activar nivel";
}
@if (!Request.IsAuthenticated)
{
    Response.Redirect(@Url.Action("Login", "Account"));
}
else
{

    <div class="card card-cascade narrower">
        <div class="view view-cascade primary-color narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
            <h4 class="ml-3 mb-2 mb-sm-0 pt-1 white-text">
                <span><a href="@Url.Action("Index","Home")" class="text-decoration-none white-text"><i class="fa fa-home mr-1"></i> Inicio</a></span>
                <span>/</span>
                <span><a href="@Url.Action("Index", "Niveles")" class="text-decoration-none white-text"><i class="fa fa-building mr-1"></i> Niveles</a></span>
                <span>/</span>
                <span>Activar nivel</span>
            </h4>
            <div class="mr-3">
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-info-circle mt-0"></i>
                </button>
            </div>
        </div>
        <div class="px-4">
            <div class="table-wrapper">
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <h2>Activar el nivel</h2>
                    </div>
                </div>
                <hr />
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Ubicacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ubicacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                    </dl>
                    <hr />
                    <div class="text-center">
                        <h3>¿Desea activar éste nivel?</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <a class="btn btn-primary" href="@Url.Action("Index", "Niveles")">
                                    <i class="fa fa-arrow-left mr-1"></i> Regresar
                                </a>
                                |
                                <button type="submit" class="btn green btn-green">
                                    <i class="fa fa-check mr-1"></i>
                                    Activar
                                </button>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
