<li>
    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-vcard"></i> Contactos<i class="fa fa-angle-down rotate-icon"></i></a>
    <div class="collapsible-body">
        <ul>
            <li>
                <a href="@Url.Action("AdministrarContactos", "VistasNormal")" class="waves-effect">Administrar contactos</a>
            </li>
            <li>
                <a href="@Url.Action("ReactivarContactos", "VistasNormal")" class="waves-effect">Reactivar contactos</a>
            </li>
        </ul>
    </div>
</li>
<li>
    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-truck"></i> Proveedores<i class="fa fa-angle-down rotate-icon"></i></a>
    <div class="collapsible-body">
        <ul>
            <li>
                <a href="@Url.Action("SolicitudIngresos", "VistasNormal")" class="waves-effect">Solicitudes de ingreso</a>
            </li>
            <li>
                <a href="@Url.Action("CrearIngreso", "VistasNormal")" class="waves-effect">Crear ingreso</a>
            </li>
            <li>
                <a href="@Url.Action("VerSolicitudes", "VistasNormal")" class="waves-effect">Ver solicitudes </a>
            </li>
        </ul>
    </div>
</li>
<li>
    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-line-chart"></i> Reportes<i class="fa fa-angle-down rotate-icon"></i></a>
    <div class="collapsible-body">
        <ul>
            <li>
                <a href="@Url.Action("PaquetesEntregados", "VistasNormal")" class="waves-effect">Paquetes entregados</a>
            </li>
            <li>
                <a href="@Url.Action("VisitasAutorizadas", "VistasNormal")" class="waves-effect">Visitas de proveedor autorizadas</a>
            </li>
        </ul>
    </div>
</li>