<li>
    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-truck"></i> Proveedores<i class="fa fa-angle-down rotate-icon"></i></a>
    <div class="collapsible-body">
        <ul>
            <li>
                <a href="@Url.Action("AdministrarProveedores", "VistasRecepcion")" class="waves-effect">Administrar ingreso proveedores</a>
            </li>
            <li>
                <a href="@Url.Action("SolicitudesIngreso", "VistasRecepcion")" class="waves-effect">Solicitudes de ingreso</a>
            </li>
            <li>
                <a href="@Url.Action("AceptarSolicitud", "VistasRecepcion")" class="waves-effect">Ingreso de proveedor</a>
            </li>
            <li>
                <a href="@Url.Action("RutaEntrega", "VistasRecepcion")" class="waves-effect">Ruta de entrega</a>
            </li>
        </ul>
    </div>
</li>
<li>
    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-line-chart"></i> Reportes<i class="fa fa-angle-down rotate-icon"></i></a>
    <div class="collapsible-body">
        <ul>
            <li>
                <a href="@Url.Action("PaquetesEntregados", "VistasRecepcion")" class="waves-effect">Paquetes entregados</a>
            </li>
            <li>
                <a href="@Url.Action("VisitasProveedorAutorizadas", "VistasRecepcion")" class="waves-effect">Visitas de proveedor autorizadas</a>
            </li>
            <li>
                <a href="@Url.Action("VisitasProveedor", "VistasRecepcion")" class="waves-effect">Visitas de proveedor</a>
            </li>
        </ul>
    </div>
</li>