@model IEnumerable<RTS_Mensajeria.Models.DB_Model.TipoUsuario>

@{
    ViewBag.Title = "Inicio";
}

@if (!Request.IsAuthenticated)
{
    Response.Redirect(@Url.Action("Login", "Account"));
}
else
{
    <div class="card card-cascade narrower">
        <div class="view view-cascade primary-color narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
            <h4 class="ml-3 mb-2 mb-sm-0 pt-1 white-text">
                <span><a href="@Url.Action("Index","Home")" class="text-decoration-none white-text"><i class="fa fa-home"></i> Inicio</a></span>
                <span>/</span>
                <span><i class="fa fa-user-friends"></i> Tipos de usuarios</span>
            </h4>
            <div class="mr-3">
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-info-circle mt-0"></i>
                </button>
            </div>
        </div>
        <div class="px-4">
            <div class="table-wrapper">
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <h2>Listado de tipos de usuario activos</h2>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default btn-small btn-rounded" href="@Url.Action("Create", "TipoUsuarios")">
                            <i class="fa fa-plus"></i> Crear
                        </a>
                    </div>
                </div>
                <br />
                <div class="table-responsive ">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detalle)
                            </th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            if (item.Estado == "Activo")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Detalle)
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-rounded green" href="@Url.Action("Edit", "TipoUsuarios", new { id = item.Id_TipoUsuario })">
                                            <i class="fa fa-edit"></i> Editar
                                        </a>
                                        <a class="btn btn-sm btn-rounded blue" href="@Url.Action("Details", "TipoUsuarios", new { id = item.Id_TipoUsuario })">
                                            <i class="fa fa-eye"></i> Detalle
                                        </a>
                                        <a class="btn btn-sm btn-rounded red" href="@Url.Action("Delete", "TipoUsuarios", new { id = item.Id_TipoUsuario })">
                                            <i class="fa fa-trash"></i> Eliminar
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

    </div>

        <div class="card card-cascade narrower">

            <div class="px-4">
                <div class="table-wrapper">
                    <br />
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Listado de tipos de usuario inactivos</h2>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive ">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Detalle)
                                </th>
                                <th>Acciones</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                if (item.Estado == "Inactivo")
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Detalle)
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-secondary" href="@Url.Action("Active", "TipoUsuarios", new { id = item.Id_TipoUsuario })">
                                                <i class="fa fa-power-off"></i> Activar
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br/>
}
