@model IEnumerable<RTS_Mensajeria.Models.DB_Model.IngresoProveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_IngresoProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_Paquetes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elevador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprobada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioEntrega.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Usuario1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_IngresoProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_Paquetes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elevador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprobada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioEntrega.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Usuario1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_IngresoProveedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_IngresoProveedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_IngresoProveedor })
        </td>
    </tr>
}

</table>
