@model RTS_Mensajeria.Models.DB_Model.RutaEntrega

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RutaEntrega</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anticipada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anticipada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingreso.Codigo_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingreso.Codigo_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoProveedor.Codigo_IngresoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoProveedor.Codigo_IngresoProveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_RutaEntrega }) |
    @Html.ActionLink("Back to List", "Index")
</p>
